*{margin: 0;}
table{width: 100%;
    height: 100vh;
    background-color: rgb(184, 182, 182)}

#linha1{height: 150px;}
#linha2{height: 160px;}
#linha3{height: 200px;}
#linha4{height: 60px;}
#linha5{height: 60px;}

#td1{width: 20%;}
#td2{width: 80%;}
#td3{width: 15%;}
#td4{width: 20%;}
#td5{width: 15%;}
#td6{width: 20%;}
#td7{width: 5%;}
#td8{width: 25%;}

.txtLoren{text-align: justify;
    padding: 4vh;}

#partLogo{width: 18%; text-align: right;}

#istock1{vertical-align: top;}
.istock1{text-align: center;}
#istock1img{width: 78%;}

.istock2{text-align: center;}
#istock2img{width: 78%;}